
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 65px;
    gap: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

#uom-logo {
    height: 60px;
    width: auto;
    display: block;
}

#cse-logo {
    height: 40px;
    width: auto;
    display: block;
}

#github-logo {
    height: 20px;
    width: auto;
    display: block;
}

#huggingface-logo {
    height: 20px;
    width: auto;
    display: block;
}

.navbar-title {
    margin-left: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-blue);
}

.title-link {
    text-decoration: none;
    color: inherit;
    font: inherit;
  }

.navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid transparent;
    border-color: #333;
    transition: background 0.2s, color 0.2s;
}

.navbar-link:hover {
    background: var(--secondary-blue);
    color: #fff;
}