.config-panel {
	width: 300px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	padding: 25px;
	z-index: 1000;
}
.config-panel h3 {
	margin: 0;
	font-size: 1.2em;
    color: var(--primary-blue);
}
.config-panel hr {
    border: none;
    border-top: 1px solid var(--secondary-blue);
    margin-bottom: 20px;
}
.config-panel label {
	display: block;
	margin-bottom: 10px;
	font-weight: 500;
}
.config-panel select {
	width: 100%;
	padding: 7px 15px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 20px;
    appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px 16px;
}